#Window option
WIDTH = 900
HEIGHT = 900
FPS_LIMIT = 15
CAPTION = 'Grid-Based Diffusion Limited Agregation'

#Simulation options
PARTICLE_AMOUNT = 1000
RADIUS = 5.0
COLOR = (50,255,50)
SPEED_MULTIPLIER = 500.0
DAMPING = 1
RENDER_NOT_STUCK = True
STUCK_MULTIPPLIER = 2.5
SIM_WIDTH = 100
SIM_HEIGHT = 100